PORT=3000
FIREBASE_PROJECT_ID=freshlens-xxxxx
FIREBASE_CLIENT_EMAIL=firebase-adminsdk-xxx@freshlens.iam.gserviceaccount.com
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nYOUR_KEY_HERE\n-----END PRIVATE KEY-----\n"
FIREBASE_STORAGE_BUCKET=freshlens-xxxxx.appspot.com
ALLOWED_ORIGINS=http://localhost:3000
